<div class="row">
  <div class="col">
    <div class="py-4 px-5">
      <div class="mb-5">
        <%= link_to root_path do %>
          <%= image_tag "instagram-logo.png", width: 103 %>
        <% end %>
      </div>
      <div class="mb-4">
        <%= link_to "", data: { "bs-toggle": "modal", "bs-target": "#new-post-modal"}, class: "sidebar-link" do %>
          <div class="d-flex align-items-center">
            <%= image_tag "icons/create.png", width: 24 %>
            <span class="ms-3">Create</span>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": "delete" } %>
      </div>
    </div>
  </div>
  <div class="col-7">
    <%= image_tag Post.first.photo.variant(resize_to_limit: [1000, 1000]), data: { controller: "photo-cropper" } %>
  </div>
  <div class="col-3">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-post-modal" tabindex="-1" aria-labelledby="new-post-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <p class="modal-title text-center fs-6 fw-semibold" id="new-post-modal-label">Create new post</p>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div class="py-5" style="margin-left: auto; margin-right: auto; text-align: center;">
          <%= image_tag "gallery.png", width: 96, class: "mb-3" %>
          <p class="fs-5">Drag photos and videos here</p>

          <%= form_with model: Post.new, url: posts_path, id: "post-form", local: true, multipart: true, data: { controller: "new-post-form" } do |f| %>
            <label class= "btn btn-primary insta-primary">
              <%= f.file_field :photo, data: { "new-post-form-target": "photoFile" }, class: "d-none" %>
              Select from computer
            </label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>