<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": "delete" } %>
<% end %>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div>
    <div class="card p-4 mb-3" style="width: 28rem;">
      <div class="card-body">
        <div class="instagram-logo-link"></div>
        
        <div class="d-flex justify-content-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-100"}) do |f| %>
            <div class="mb-3">
              <%= f.text_field :login, placeholder: "Username or email", autofocus: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-check mb-3">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary insta-primary w-100" %>
            </div>
          <% end %>
        </div>

        <hr>
        
        <div class="d-flex justify-content-center">
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "dark-link" %>
        </div>
      </div>
    </div>
    <div class="card py-2" style="width: 28rem;">
      <div class="card-body">
        <p class="mb-0 fs-6 text-center">Don't have an account? <%= link_to "Sign up", new_user_registration_path, class: "standard-link" %></p>
      </div>
    </div>
  </div>
</div>