<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Instagram" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag asset_path("instagram.png") %>
  </head>

  <body>
    <div class="row">
      <div class="col">
        <%= render "layouts/nav_sidebar" %>
      </div>
      <div class="col-7">
        <%= yield %>
      </div>
      <div class="col-3">
      </div>
    </div>

    <%= render "layouts/create_post_modal" %>
  </body>
</html>
